# Auto-detect text files and perform LF normalization
* text=auto

# Files that require specific line endings
*.sh  text eol=lf
*.bat text eol=crlf

# Make sure images are binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary

# Make sure certain files are not archived
.gitignore      export-ignore
.gitattributes  export-ignore

# Sources
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary
